<div class="padding">
    <div class="box nav-active-border b-info" style="margin-bottom:0;">
        <ul class="nav nav-md">
            <li class="nav-item inline">
                <a class="nav-link active" href data-toggle="tab" data-target="#tab_1">
                    <span class="text-md">添加话题</span>
                </a>
            </li>
            <li class="nav-item inline">
                <a class="nav-link" href data-toggle="tab" data-target="#tab_2">
                    <span class="text-md">所有话题</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content clear">
        <div class="tab-pane active" id="tab_1" ng-controller="TopicPackageCtrl2">
            <div class="box">
                <div class="box-divider m-a-0"></div>
                <div class="box-body">
                    <form role="form">
                        <div class="form-group row">
                            <label for="modelName" class="col-sm-1 form-control-label">话题名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="modelName" ng-model="modelName" placeholder="话题名称">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="giftName" class="col-sm-1 form-control-label">话题类型</label>
                            <div class="col-sm-8">
                                <ui-select ng-model="typesObj.selected">
                                    <ui-select-match placeholder="请选择话题类型">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in types | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="giftPrice" class="col-sm-1 form-control-label">话题包内容</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="giftPrice" placeholder="话题包内容"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="rate" class="col-sm-1 form-control-label">关键词列表</label>
                            <div class="col-sm-8">
                                <ui-select multiple ng-model="keywordsObj1.selected">
                                    <ui-select-match placeholder="关键词列表">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in keywords1">
                                        <div ng-bind-html="item.name"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="status" class="col-sm-1 form-control-label">自动触发</label>
                            <div class="col-sm-8">
                                <label class="ui-switch ui-switch-md info m-t-xs">
                                    <input type="checkbox" ng-checked="status" ng-model="status">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row m-t-md">
                            <div class="col-sm-offset-1 col-sm-1">
                                <button type="submit" class="btn info" ng-click="addIt()">确定</button>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn white" ng-click="resetIt()">清空</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_2">
            <div class="box">
                <div class="padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr align="censter" style="font-weight: bold">
                                <td style="width:20%">话题名称</td>
                                <td style="width:20%">话题类型</td>
                                <td style="width:20%">使用次数</td>
                                <td style="width:20%">评分</td>
                                <td style="width:20%">操作</td>
                            </tr>
                            <tr ng-repeat="item in datas">
                                <td>{{item.name}}</td>
                                <td>{{item.type === 1 ? '随机话题': '剧情话题'}}</td>
                                <td>{{item.count}}</td>
                                <td>{{item.score}}</td>
                                <td>
                                    <div class="buttons" style="">
                                        <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#roleModal" ng-click="getAdInfo(item.id)">修改</button>
                                        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delRoleModal" ng-click="setCurId(item.id)">删除</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div pagination></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="delRoleModal" class="modal" data-backdrop="true">
    <div class="row-col h-v">
        <div class="row-cell v-m">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">提示框</h5>
                    </div>
                    <div class="modal-body text-center p-lg">
                        <p>是否确认删除?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">取消</button>
                        <button type="button" class="btn danger p-x-md" data-dismiss="modal" ng-click="removeAd()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="roleModal" class="modal fade animate" data-backdrop="true">
    <div class="modal-dialog" id="animate">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">修改话题</h5>
            </div>
            <div class="modal-body p-lg">
                <form role="form">
                    <div class="form-group row">
                        <label for="modelName" class="col-sm-2 form-control-label">话题名称</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="modelName" ng-model="modelName" placeholder="话题名称">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="giftName" class="col-sm-2 form-control-label">话题类型</label>
                        <div class="col-sm-8">
                            <ui-select ng-model="typesObj.selected" ng-disabled="true">
                                <ui-select-match placeholder="请选择话题类型">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in types | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="giftPrice" class="col-sm-2 form-control-label">话题包内容</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" ng-model="giftPrice" placeholder="话题包内容"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="rate" class="col-sm-2 form-control-label">关键词列表</label>
                        <div class="col-sm-8">
                            <ui-select multiple ng-model="keywordsObj1.selected">
                                <ui-select-match placeholder="关键词列表">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="item in keywords1">
                                    <div ng-bind-html="item.name"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="status" class="col-sm-2 form-control-label">自动触发</label>
                        <div class="col-sm-8">
                            <label class="ui-switch ui-switch-md info m-t-xs">
                                <input type="checkbox" ng-checked="status" ng-model="status">
                                <i></i>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">取消</button>
                <button type="button" class="btn danger p-x-md" data-dismiss="modal" ng-click="modiAd()">保存</button>
            </div>
        </div>
    </div>
</div>
